
/* define a style for Title, Headings and Normal texts */
.title,
.heading1,
.heading2,
.heading3,
.normal {
  color: black;
  margin: 0;
  display: inline-block;
  font-family: verdana, arial;
  font-weight: normal;
}
.body{
	cursor: auto; 
    margin: 0 auto;
    width: 980px;
    height: 1200px;
}
.title {
  font-size: 60px;
  color: rgb(111, 168, 220);
}
.heading1 {
  font-size: 24px;
}
.full-width {
    width: 100% !important;
}
.grey-text .normal{
    color: grey;
}
.small-text .normal{
    color: grey;
    font-size: 10px;
}
.product-details .heading1 {
  color: rgb(111, 168, 220);
}
.product-details .heading3 {
  color: white;
  background-color: rgb(111, 168, 220);
  float: right;
  padding: 2px 25px;
}
/* animated colors widget
    https://github.com/silexlabs/Silex/issues/138
*/
.link-menu .page-link-active {
    background-color: rgb(111, 168, 220) !important;
    /* Firefox */
    -moz-transition: all 0.5s ease-in;
    /* WebKit */
    -webkit-transition: all 0.5s ease-in;
    /* Opera */
    -o-transition: all 0.5s ease-in;
    /* Standard */
    transition: all 0.5s ease-in;
}
.link-menu .page-link-active .normal {
    color: #FFFFFF !important;
    /* Firefox */
    -moz-transition: all 0.5s ease-in;
    /* WebKit */
    -webkit-transition: all 0.5s ease-in;
    /* Opera */
    -o-transition: all 0.5s ease-in;
    /* Standard */
    transition: all 0.5s ease-in;
}

.footer {
    font-family: verdana, arial;
    font-weight: normal;
    font-size: 50%;
}

/* button styles follow */
.btn {
  background: #6fa8dc;
  background-image: -webkit-linear-gradient(top, #6fa8dc, #2980b9);
  background-image: -moz-linear-gradient(top, #6fa8dc, #2980b9);
  background-image: -ms-linear-gradient(top, #6fa8dc, #2980b9);
  background-image: -o-linear-gradient(top, #6fa8dc, #2980b9);
  background-image: linear-gradient(to bottom, #6fa8dc, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 1px 1px 3px #666666;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #6fa8dc);
  background-image: -moz-linear-gradient(top, #3cb0fd, #6fa8dc);
  background-image: -ms-linear-gradient(top, #3cb0fd, #6fa8dc);
  background-image: -o-linear-gradient(top, #3cb0fd, #6fa8dc);
  background-image: linear-gradient(to bottom, #3cb0fd, #6fa8dc);
  text-decoration: none;
}

.neutral {
    background: none;
    color: #787878;
    text-shadow: none;
    border: #787878;
    border-style: solid;
}

.negative {
    background: none;
    color: #ff2200;
    text-shadow: none;
    border: #ff2200;
    border-style: solid;
}


/* semi-transparent overlay dialog */
#shade, #modal {
    display: none; 
}
#shade {
    position: fixed; 
    z-index: 10; 
    top: 0;  
    left: 0;  
    width: 100%; 
    height: 100%; 
}
#modal { 
    position: fixed; 
    z-index: 11; 
    top: 33%; 
    left: 25%; 
    width: 50%;
    background: white;
}
#shade { 
    background: black; 
    opacity: 0.5; 
    filter: alpha(opacity=50); 
}

