<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=windows-1252">
    {% if msg %}
        <meta http-equiv="refresh" content="30; URL=/">
    {% endif %}
    <title>PwdHash Vault</title>
    <script src="js/ajax.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="shortcut icon" href="https://www.pwdhash.com/favicon.ico">
</head>

<body style="background-image: url('img/bg-tile3.png');">
<div class="body">

<div class="normal full-width" style="padding:2em 0 0 0;">
    <a href="https://crypto.stanford.edu/PwdHash/">
    <div class="normal" align="left">
        <img align="left" src="img/stanford.png" alt="Stanford University">
        <h1 class="heading1" align="left" style="padding:10% 0 0 1em;">Stanford PwdHash</h1>
    </div>
    </a>
    <div id="cssmenu" align="right" style="margin:-2em auto;">
        <ul>
           <li class='active'><a href='/'><span>HOME</span></a></li>
           <li><a href='/about'><span>ABOUT</span></a></li>
           <li class='last'><a href='/add'><span>UPDATE</span></a></li>
        </ul>
    </div>
</div>
	            
<div class="normal full-width" align="center" style="padding:7em 0 0 0;">
    <header class="title">PwdHash Vault</header>
</div>
<div class="normal" align="left" style="padding:2em 0 0 0;">
    <h1 class="heading1">
        {% block description %}
        {% endblock %}
    </h1>
</div>

<div class="normal full-width" style="padding:4em 0 0 0;">
    {% block buttons %}
    {% endblock %}
</div>

{% if msg %}
    <div id="shade"></div>               
    <div id="modal" align="center">
        <form id="dialog_form" action="/">
            <p>{{ msg }}</p>
            <input id="close_dialog" type="submit" value="Close">
        </form>
    </div>
{% endif %}
</div>

<div class="footer" align="center">
based on <a href="https://github.com/silexlabs/Silex/issues/196">this Silex template</a>
</div>

</body></html>
