{% extends "base.html" %}

{% block description %}
    {% if keys.count < 1 %}
    There are no entries currently available. Try 'UPDATE'.
    {% endif %}
{% endblock %}

{% block buttons %}
<!-- Here is where we put the clickable icons for fast password generation:
     use the 'id' of the <a> element as a placeholder for the domain --!>
<form id="entries_form" action="generate" method="POST">
    <input type="hidden" id="domain" name="domain" value="None">

{% for k in keys %}
    <div class="normal heading1" align="center" style="width:20%;vertical-align:top;">
        <p>{{ k.name }}</p>
        <a id="{{ k.domain }}" href="#" onclick="sendEntry (this);">
            {% if k.image -%}
            <img src="{{ k.image }}" style="width:72px;">
            {% else -%}
            <img src="img/lock.png">
            {% endif -%}
            </img>
        </a>
    </div>
    {% if loop.index % 3 != 0 %}
        <div class="normal" style="width:5%;"></div>
    {% endif %}
{% endfor %}
</form>
{% endblock %}

